on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - if: ${{ github.ref == 'refs/heads/main' }}
      uses: cs50/deploy-to-eb@main
      with:
        aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        app_name: draw-cs50-io
        env_name: draw-cs50-io
